{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}省时间{% endblock %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    {% block extra-scripts %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
    {% block extra-stylesheets %}{% endblock %}
</head>

<body>
    <div id="header">
        <div class="brand-logo">S</div>
        <div class="brand-title">
            <h1>省时间</h1>
            <h2>30天的活1天做完</h2>
        </div>
    </div>
    <hr>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
    </div>
</body>

</html>