{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}省时间{% endblock %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/displayItems.js" %}"></script>
    <script src="{% static "js/base.js" %}"></script>
    {% block extra-scripts %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/displayItems.css" %}">
    {% block extra-stylesheets %}{% endblock %}
</head>

<body>
    <div id="header">
        <div class="brand-logo">S</div>
        <div class="brand-title">
            <h1>省时间</h1>
            <h2>只关注如何节约时间</h2>
        </div>
        <div class="header-menu">
            <div class="header-menu-item" id="downloads">
                <a href="http://fir.im/hvaz" class="header-menu-item-link">下载</a>
            </div>
            <div class="header-menu-item" id="about">
                <a href="about" class="header-menu-item-link">关于</a>
            </div>
            <div class="header-menu-item search-item"></div>
        </div>
    </div>
    <hr>
    <div id="search">
        <form>
            <input type="text" placeholder="痛点搜索" required>
            <input type="button">
        </form>
        <div id="cssmenu-outer">
            <div id='cssmenu'>
                <ul>
                    <!-- use class 'has-sub' on li to display an arrow right by the title -->
                    <li><a href='/categories#critical'><span class="lev1-category-title">极痛</span></a></li>
                    <li><a href='/categories#major'><span class="lev1-category-title">很痛</span></a></li>
                    <li class='last'><a href='/categories#minor'><span class="lev1-category-title">痛</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
    京ICP备15006796号
    </div>
</body>

</html>