<section class="posts">
    <div class="posts-date row">
        <h4 class="posts-date-weekday"></h4>
        <span class="posts-date-time"></span>
    </div>
    <ul>
        <li class="savetime-item">
            <div class="upvote">
                <a href="#" class="upvote-link"></a>
                <span class="upvote-count"></span>
            </div>
            <div class="desc">
                <a class="item-url" href=""></a>
                <span class="item-tagline"></span>
            </div>
        </li>
    </ul>
</section>