#header {
    max-width: 750px;
    margin: 0 auto;
    padding: 15px 20px;
    height: 40px;
}

#content {
    max-width: 750px;
    margin: 0 auto;
    padding: 15px 10px;
}

.brand-logo {
    line-height: 40px;
    text-align: center;
    float: left;
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    background: #3a5795;
    border-radius: 20px;
    color: white;
    margin-right: 15px;
}

.brand-title {
    float: left;
    clear: right;
    height: 40px;
}

.brand-title h1 {
    margin: 0px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    color: #3a5795;
}

.brand-title h2 {
    color: rgba(122, 122, 122, 0.7);
    margin: 0px;
    font-size: 15px;
    height: 20px;
    padding-top: 5px;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.header-menu {
    height: 40px;
    float: right;
}

.header-menu-item {
    cursor: pointer;
    color: rgba(122, 122, 122, 0.7);
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    float: left;
    margin-right: 10px;
}

.header-menu-item img {
    vertical-align: middle;
}

.header-menu-item-link {
    text-decoration: none;
    color: rgba(122, 122, 122, 0.7);
}

.header-menu-item-link:hover {
    color: #3a5795;
}

.header-menu-item#search {
    width: 120px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.header-menu-item#search input {
    outline: none;
    border-style: hidden;
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.11),inset 0 0 0 1px rgba(0,0,0,0.13);
    padding-left: 30px;
    padding-right: 5px;
    width: 120px;
    height: 32px;
    background: url("../img/search.png") no-repeat;
    border-radius: 5px;
    font-size: 16px;
}

.header-menu-item#search input::-webkit-input-placeholder {
   color: #65737e;
}

.header-menu-item#search input:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.header-menu-item#search input::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.header-menu-item#search input:-ms-input-placeholder {
   color: #65737e;
}

div.categories {
    opacity: 0;
    text-align: left;
}

div.categories span.category {
    font-size: 14px;
    background-color: #3A5795;
    padding: 3px 5px;
    border-radius: 2px;
    color: white;
    margin-right: 5px;
}







